@charset "utf-8";
body { background: url(../images/secret_bg.jpg); }
header { height: 40px; }
#logo { float: left; margin-right: 10px; }
#title { font-size: 26px; color: #FB7853; font-family: "微软雅黑"; float: left; }
#links { float: right; margin-right: 50px; margin-top: 15px; }
#body { width: 100%; height: 550px; margin-top: 20px; }
/* 左侧导航按钮“收信”、“写信”部分，定义两个子li的边框样式等 */
aside { width: 68px; height: 548px; border: #347CB9 1px solid; background: #458FCE; float: left; }
aside ul { }
aside ul li { height: 75px; overflow: hidden; cursor: pointer; }
aside ul li:hover, aside ul li.current { background: #3C85C3; }
aside ul li span { color: #fff; text-align: center; display: block; font-size: 15px; }
aside ul li div.icon { width: 25px; height: 24px; margin: 15px auto 5px auto; background: url(../images/register_sucai.png) no-repeat; }
aside ul li.shou { border-bottom: 1px solid #6aa4d6; }
aside ul li.xie { border-top: 1px solid #458fce; border-bottom: 1px solid #3783c3; }
aside ul li.shou div.icon { background-position: -240px -380px; }
aside ul li.xie div.icon { background-position: -240px -405px; }
aside ul li.shou.current { border-bottom: 1px solid #8ab8df; cursor: auto; }
aside ul li.xie.current { border-top: 1px solid #2479c1; border-bottom: 1px solid #6aa4d6; cursor: auto; }
aside ul li.shou:hover div.icon, aside ul li.current.shou div.icon { background-position: -290px -380px; }
aside ul li.xie:hover div.icon, aside ul li.xie.current div.icon { background-position: -290px -405px; }
/* 收信、写信按钮的主体部分 */
#for_shou, #for_xie { width: 910px; height: 550px; margin-left: 70px; }
#no_talk{ width:170px;height: 448px; margin-left: 70px; padding: 80px 369px 20px; background:#fcfcfc; border:1px solid #ccc;text-align:center; }
#no_talk p{ margin-top:10px; color:#555;}
#no_talk button{ width:95px; height:32px; margin-top:20px; border:none; background:url(../images/button1.png) no-repeat; font-size:15px; color:#fff; font-family:"微软雅黑"; cursor:pointer;}
#no_talk button:hover{ background-position:0 -39px; }
#no_talk button:active{ background-position:0 -78px; }
/* 用户对话列表部分 */
#list { width: 300px; height: 548px; background: #f9f9f9; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; float: left; }
/* 对话列表上边全选按钮、删除、标记已读 */
#list header { height: 50px; line-height: 50px; }
#select_all { width: 40px; height: 50px; float: left; padding-left: 15px; font-size: 13px; color: #565656; }
#delete_all, #read_all { width: 92px; height: 25px; line-height: 25px; background: url(../images/register_sucai.png) -120px -320px no-repeat; cursor: pointer; float: left; margin-top: 12px; text-align: center; font-size: 14px; color: #555; }
#delete_all:hover, #read_all:hover { background-position: -120px -345px; }
#delete_all:active, #read_all:active { background-position: -120px -370px; }
#read_all { margin-left: 10px; }
/* 对话列表主体部分 */
#list ul { }
#list ul li { width: 100%; height: 60px; border-top: 1px solid #fff; border-bottom: #ccc 1px solid; cursor: pointer; }
#list ul li.main_current { border-top: 1px solid #ccc; border-bottom: 1px solid #fff; background: #fff; cursor: auto; position: relative; width: 301px; }
#list ul li div.select { width: 40px; height: 13px; float: left; padding: 17px 0 0 15px; }
div.user_link { overflow: hidden; margin-top: 11px; width: 208px; float: left; color: #347CB9; font-size:14px; }
div.user_link img { width: 34px; height: 34px; border: 1px solid #D0D0CF; padding: 1px; float: left; margin-right: 5px; }
#list ul li div a { line-height: 38px; }
#list ul li:hover div.main_close { width: 14px; height: 13px; background: url(../images/button1.png) -19px -161px no-repeat; float: right; margin: 10px 10px 0 0; cursor: pointer; }
#list ul li div.main_close:hover { background-position: -38px -161px; }
/* 对话框部分，每个article代表用户的一段话，
the_left, the_right标记用户是对方还是自己
user_head：用户头像
left_icon, right_icon：小图标
left_dialog, right_dialog：对话框
 */
#main { width: 608px; height: 548px; border: 1px solid #ccc; background: #fff; float: left; }
#main header { height: 40px; line-height: 40px; background: #EAEAEA; padding-left: 20px; color: #555; }
#main div.content { height: 360px; overflow: auto; }
#main article { overflow: hidden; margin-top: 10px; margin-bottom: 10px; }
#main article.the_left { float: left; margin-left: 20px; }
#main article.the_right { float: right; margin-right: 20px; }
#main article div.user_head { width: 38px; height: 38px; float: left; }
#main article div.user_head img { width: 34px; height: 34px; border: 1px solid #D0D0CF; padding: 1px; margin-right: 5px; }
#main article div.left_icon { width: 8px; height: 13px; background: url(../images/icon1.png) 0 -675px no-repeat; margin: 10px 0 0 5px; float: left; position: relative; left: 1px; }
#main article div.left_dialog { max-width: 380px; border: 1px solid #D5DCE0; border-radius: 5px; background: #F2F8FB; float: left; }
#main article div.close { width: 10px; height: 9px; float: right; margin: 5px 5px 0 0; background: url(../images/button1.png) -355px -165px no-repeat; cursor: pointer; }
#main article:hover div.close { background-position: -55px -165px; }
#main article div.close:hover { background-position: -65px -165px; }
#main article div.left_content { margin: 0 15px 5px 15px; }
#main article time { color: #777777; float: right; font-size: 12px; margin: 0 15px 5px; }
#main article div.right_dialog { max-width: 380px; border: 1px solid #ccc; border-radius: 5px; background: #FBFAF2; float: left; }
#main article div.right_content { float: left; margin: 15px 0 5px 15px; }
#main article div.right_icon { width: 8px; height: 13px; background: url(../images/icon1.png) -20px -675px no-repeat; float: right; margin: 10px 5px 0 0; position: relative; left: -1px; }
/* 输入文字部分，
.border：对话框边界
#input：输入框容器
#input_submit：提交按钮
 */
#reply_editor > div{ float:left;}
#main div.border { height: 30px; background: #f1f1f1; border-bottom: 1px solid #ccc; }
#input { width: 608px; height: 148px; }
#input textarea { width: 558px; height: 100%; padding: 10px; float: left; }
#input_submit { width: 50px; height: 148px; background: #458FCE; cursor: pointer; float: left; color: #fff; font-size: 15px; font-family: "微软雅黑"; text-align: center; vertical-align: central; border: none; }
#input_submit:hover { background: #4D93CF; }
#input_submit:active { background: #3C85C3; }
/* 以下是for_xie部分 */
#for_xie article { width: 680px; height: 548px; background: #fcfcfc; float: left; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#for_xie table { border: none; color: #555; margin: 40px 0 0 50px; }
#for_xie table tr td { line-height: 30px; margin-bottom: 20px; height: 60px;  align
}
#xie_name { width: 450px; height: 30px; border: 1px solid #ccc; padding: 0 10px; }
#xie_name:hover { border: 1px solid #b5b5b5; }
#xie_name:active { border: 1px solid #8BDB57; }
#xie_content_head { width: 470px; height: 30px; background: #f1f1f1; border: 1px solid #ccc; border-bottom: none; }
#xie_content {line-height:1;/*  width: 472px; height: 180px; border: 1px solid #ccc; padding: 10px;  */}
/* #xie_content:hover { border: 1px solid #b5b5b5; } */
#xie_content table{ margin:0;}
#for_xie #xie_content > div > div.edui-editor-bottomContainer > table > tbody > tr > td.edui-editor-bottombar{height:22px; line-height:1; margin:0;}
#xie_submit { background: url("../images/button1.png") no-repeat; color: #FFFFFF; cursor: pointer; display: block; height: 32px; line-height: 32px; margin-top: 20px; text-align: center; width: 95px; border: none; font-size: 16px; font-family: "微软雅黑"; }
#xie_submit:hover { background-position: 0 -39px; }
#xie_submit:active { background-position: 0 -78px; }
#for_xie #xie_side { width: 228px; height: 548px; background: #f1f1f1; float: left; border: 1px solid #ccc; }


/*loading部分*/
#loading{z-index:1000;position:absolute; display:none; background:#fff; opacity:0.9; width:608px; height:548px;}
#loading img{ margin:200px 0 0 288px;}
#loading p{ margin-top: 10px; color: #4166A2; font-family: "微软雅黑"; text-align: center;}